<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static\styles.css">
        <title> Pokemon Stat Generator </title>
    </head>
    <body>
        <center>
        <h1> Pokemon Stat Generator </h1>
        
        <form action="results" method="post">
            <input type="submit" value="Randomly select Pokemon" />
        </form>

        <p> Your Selected Stats </p>
        <table>
            <tr> 
                <th> Stat </th>
                <th> Value </th>
            <tr>
            <tr>
                <td> HP </td>
                <td> {{ selected_value.value if selected_value else 'No Stat Selected' }} </td>
            </tr>
            <tr>
                <td> Attack </td>
                <td> {{ selected_value.value if selected_value else 'No Stat Selected' }} </td>
            </tr>
            <tr>
                <td> Defense </td>
                <td> {{ selected_value.value if selected_value else 'No Stat Selected' }} </td>
            </tr>
            <tr>
                <td> Special Attack </td>
                <td> {{ selected_value.value if selected_value else 'No Stat Selected' }} </td>
            </tr>
            <tr>
                <td> Special Defense </td>
                <td> {{ selected_value.value if selected_value else 'No Stat Selected' }} </td>
            </tr>
            <tr>
                <td> Speed </td>
                <td> {{ selected_value.value if selected_value else 'No Stat Selected' }} </td>
            </tr>
        </table>
        
        </center>

    

    </html>
